<!DOCTYPE html>
<html lang="en">
<head>

  <title>Publyto Custom Plugin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no">
  
  <!-- Compiled and minified CSS -->
  <!--
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  -->  
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 

</head>
<body>
<%
	function linkify(inputText) {
  
        var replacedText;
        
        replacedText = inputText.replace(inputText, '<a href="https://publyto.com/$'+inputText+ '"' + ' target="_blank">'+inputText+'</a>');

		
    		return replacedText;
	}
%>

<h2>Publyto PUB Staking List</h2><BR><BR><BR>

<div class="container">   
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Account Name</th>
        <th>Stake Amount</th>
      </tr>
    </thead>
    <tbody>
    <% data.list.forEach(function(eachData, x){ %>
      <tr>
        <td><%- linkify(eachData.account) %></td>
        <td><%= eachData.amount.toFixed(4).toLocaleString('en') %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</html>
